* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-base);
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: var(--fs-base);
  line-height: var(--lh-normal);
  transition:
    background-color var(--t-base),
    color var(--t-base);
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  background: none;
  border: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: var(--lh-tight);
  color: var(--text-primary);
}

strong {
  font-weight: var(--fw-semibold);
  color: var(--text-primary);
}

em {
  font-style: normal;
  color: var(--text-tertiary);
}
